<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="defaultBinding"
                 maxBufferSize="10000" maxReceivedMessageSize="10000" />
      </netTcpBinding>
    </bindings>
    <services >
      <service name="PoL.Server.PoLServer" >
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://127.0.0.1:4747/pol" />
          </baseAddresses>
        </host>
        <endpoint name="pol"
          address=""
          bindingConfiguration="defaultBinding"
          binding="netTcpBinding"
          contract="PoL.Server.IPoLServer" />
      </service>
    </services>
    <client>
      <endpoint name="pol" address="net.tcp://127.0.0.1:4747/pol" bindingConfiguration="defaultBinding" 
                binding="netTcpBinding" contract="PoL.Server.IPoLServer" />
    </client>
  </system.serviceModel>
</configuration>